@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
  background: url(/public/images/bg-layer-1.png) 100% 0 no-repeat fixed,
  url(/public/images/bg-layer-2.png) 0 0 no-repeat fixed,
  url(/public/images/bg-layer-3.png) 100% 100% no-repeat fixed,
  url(/public/images/bg-layer-4.png) 0 100% no-repeat fixed,
  url('/public/images/background.jpg') 50% 50% repeat-y fixed;
  background-color: #1b2036;
  color: white;
}

* > * {
  font-family: 'Roboto', sans-serif;
}
