@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";
@import "@nuxt/ui";

html {
  scroll-behavior: smooth;
}

* > * {
  font-family: 'Roboto', sans-serif;
}

:root {
  --ui-radius: 0.375rem;

  --ui-color-primary-50:  #f3f6fa;
  --ui-color-primary-100: #e1e8f2;
  --ui-color-primary-200: #c5d3e5;
  --ui-color-primary-300: #a2b7d0;
  --ui-color-primary-400: #7e97b4;
  --ui-color-primary-500: #52729A;
  --ui-color-primary-600: #436088;
  --ui-color-primary-700: #354d70;
  --ui-color-primary-800: #293d5a;
  --ui-color-primary-900: #1c2a3f;
  --ui-color-primary-950: #111b2b;
}

.dark {
  --ui-color-primary-50:  #f6f8fb;
  --ui-color-primary-100: #e8eef8;
  --ui-color-primary-200: #d4dff1;
  --ui-color-primary-300: #b8c8e6;
  --ui-color-primary-400: #9db3dc;
  --ui-color-primary-500: #A0B2D8;
  --ui-color-primary-600: #7f95c1;
  --ui-color-primary-700: #6377a1;
  --ui-color-primary-800: #4e5e7e;
  --ui-color-primary-900: #3a465d;
  --ui-color-primary-950: #232c3b;
}

.bg-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  opacity: 0.15;
  mask-image: radial-gradient(circle at center, black 10%, transparent 90%);
  -webkit-mask-image: radial-gradient(circle at center, black 10%, transparent 90%);

  svg {
    @media screen and (max-width: 768px) {
      width: auto;
      height: 100vh;
    }
  }
}
